:root {
  --int: 1.25;
  --scale0: 1.6rem;
  --scale-1: calc(var(--scale0) / var(--int));
  --scale-2: calc(var(--scale-1) / var(--int));
  --scale1: calc(var(--scale0) * var(--int));
  --scale2: calc(var(--scale1) * var(--int));
  --scale3: calc(var(--scale2) * var(--int));
  --scale4: calc(var(--scale3) * var(--int));
  --scale5: calc(var(--scale4) * var(--int)); }

/*
1800px		- extra large (112.5em)
1000px		- large (62.5em)
850px		- medium (53.125em)
600px		- small (37.5em)
480px		- extra small (30em)
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 30%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000000;
  font-size: var(--scale0); }

.heading-1 {
  font-size: var(--scale2); }

.heading-2 {
  font-size: var(--scale1);
  margin: 1rem 0; }

.heading-3 {
  font-size: 1.8rem; }

.p {
  font-size: var(--scale0); }
  .p:not(:last-child) {
    margin-bottom: 2rem; }

::selection {
  color: #fff;
  background-color: #2f9599; }

.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(2rem, 9rem)) 1fr;
  grid-template-rows: 8rem repeat(3, 16rem) 8rem;
  gap: 1rem; }
  @media only screen and (max-width: 53.125em) {
    .container {
      grid-template-rows: 8rem 8rem repeat(2, 16rem) 42rem 8rem; } }
  @media only screen and (max-width: 30em) {
    .container {
      grid-template-rows: 8rem 8rem repeat(2, 16rem) 55rem 8rem; } }

.header {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  grid-column: 2/ span 12;
  display: grid;
  grid-template-columns: repeat(12, minmax(2rem, 300rem));
  gap: 1rem; }
  @media only screen and (max-width: 53.125em) {
    .header {
      grid-row: span 2; } }
  .header-logo {
    font-size: var(--scale4);
    font-weight: 300;
    letter-spacing: .5rem;
    text-transform: uppercase;
    background-color: #999999;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s linear;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    grid-column: 1/ span 6; }
    .header-logo:hover {
      transform: scale(1.01) translateY(-0.1rem);
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 53.125em) {
      .header-logo {
        grid-column: 1/ -1; } }
  .header-clock {
    font-size: var(--scale4);
    font-weight: 300;
    letter-spacing: .5rem;
    text-transform: uppercase;
    background-color: #999999;
    border-radius: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    grid-column: 7/-1; }
    @media only screen and (max-width: 53.125em) {
      .header-clock {
        grid-column: 1/ -1; } }

.content {
  display: grid;
  grid-column: 2 / span 12;
  grid-template-columns: repeat(12, minmax(2rem, 300rem));
  grid-template-rows: repeat(3, 16rem);
  gap: 1rem; }
  @media only screen and (max-width: 53.125em) {
    .content {
      grid-column: 2/ span 12;
      grid-row: 3 / span 3;
      grid-template-rows: repeat(2, 16rem) 42rem; } }
  @media only screen and (max-width: 30em) {
    .content {
      grid-template-rows: repeat(2, 16rem) 55rem; } }

.tile {
  font-size: var(--scale1);
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 53.125em) {
    .tile {
      grid-column: span 4; } }
  .tile--1 {
    background-color: #2f9599;
    border-radius: 0.5rem;
    transition: all .2s linear;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
    .tile--1:hover {
      transform: scale(1.01) translateY(-0.1rem);
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }
  .tile--2 {
    background-color: #e5a630;
    border-radius: 0.5rem;
    grid-column: span 6; }
    @media only screen and (max-width: 53.125em) {
      .tile--2 {
        grid-column: span 8; } }
  .tile--social {
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(8, minmax(0.25rem, 30rem));
    gap: 1rem; }
  .tile__icon {
    width: 6rem;
    height: 6rem;
    fill: #fff;
    margin-bottom: .7rem; }

.social {
  height: 100%;
  border-radius: 0.5rem; }
  .social--gh {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #222222; }
    .social--gh:hover {
      transform: scale(1.01) translateY(-0.1rem);
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }
  .social--li {
    grid-column: 5/ span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #107dac; }
    .social--li:hover {
      transform: scale(1.01) translateY(-0.1rem);
      box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.3); }
  .social__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.quote {
  font-weight: 300;
  font-style: italic; }
  .quote::before {
    font-size: var(--scale2);
    content: "\201D\00a0"; }
  .quote::after {
    font-size: var(--scale2);
    content: "\00a0\201E"; }

.info {
  grid-row: 1 / span 3;
  grid-column: 7 / span 6;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080; }
  @media only screen and (max-width: 53.125em) {
    .info {
      grid-row: 3/4;
      grid-column: 1 / span 12; } }
  .info__img {
    max-width: 100%; }
  .info--about {
    text-align: justify;
    padding: 3rem;
    align-items: flex-start; }
  .info--skills {
    display: grid;
    grid-template-columns: 4rem 14rem 4rem 1fr 4rem;
    grid-template-rows: repeat(14, 2.6rem);
    gap: 1rem;
    font-size: var(--scale0); }
    @media only screen and (max-width: 53.125em) {
      .info--skills {
        grid-template-columns: 2rem 12rem 2rem 15rem minmax(0.5rem, 1fr) 12rem minmax(0, 4fr);
        grid-template-rows: repeat(8, 2.6rem) 1fr;
        padding-top: 4rem; } }
  .info--edu {
    padding: 3rem;
    display: block;
    align-items: flex-start; }
    @media only screen and (max-width: 53.125em) {
      .info--edu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem; } }
  .info__date {
    font-size: 1.4rem;
    font-weight: 700; }
  .info__bullet-point {
    font-size: 1.4rem;
    margin-left: 1rem; }
    .info__bullet-point::before {
      content: "\00b7\00a0"; }
    .info__bullet-point--language {
      font-size: 1.5rem;
      margin: 1.5rem 0; }
      .info__bullet-point--language::before {
        display: none; }

.skill {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 4rem 14rem 4rem 1fr 4rem;
  gap: 1rem; }
  @media only screen and (max-width: 53.125em) {
    .skill {
      grid-column: 1 / span 4;
      grid-template-columns: 2rem 12rem 2rem 15rem; } }
  .skill__info {
    grid-column: 2 /3;
    display: flex;
    align-items: center; }
  .skill__rating {
    grid-column: 4/6;
    display: flex; }
  .skill__icon {
    fill: #e5a630;
    height: 2rem;
    width: 2rem;
    margin: 0 .5rem; }
  .skill__others {
    grid-row: 8 / -1;
    grid-column: 2/ span 3; }
    @media only screen and (max-width: 53.125em) {
      .skill__others {
        grid-row: 1 / span 7;
        grid-column: 6 / -1;
        display: grid;
        gap: 1rem;
        margin-top: 2rem;
        align-items: center; }
        .skill__others h2 {
          margin: 0; } }

.footer {
  grid-row: 5/ -1;
  grid-column: 2/ span 12;
  font-size: var(--scale0);
  text-transform: uppercase;
  background-color: #999999;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  letter-spacing: .1rem; }
  @media only screen and (max-width: 53.125em) {
    .footer {
      grid-row: 6/ -1;
      grid-column: 2 /span 12; } }

.icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin: 0 .3rem; }

a:link, a:visited {
  color: inherit;
  text-decoration: none;
  padding: .5rem 1rem; }

.email {
  display: flex;
  align-items: center; }
