// Home

@mixin header-style {
	font-size: $fs4;
	font-weight: 300;
	letter-spacing: .5rem;
	text-transform: uppercase;
	background-color: $c-tertiary;
	border-radius: $br-std;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin tile-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin tile-link {
	transition: all .2s linear;
	cursor: pointer;
	&:hover {
		transform: scale(1.01) translateY(-.1rem);
		box-shadow: $bs-hover;
	}
}
// MEDIA QUERRIES
/*
1800px		- extra large (112.5em)
1000px		- large (62.5em)
850px		- medium (53.125em)
600px		- small (37.5em)

*/
//
@mixin responsive ($breakpoint) {
	@if $breakpoint == small {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == medium {
		@media only screen and (max-width: 53.125em) {
			@content;
		}
	}
	@if $breakpoint == large {
		@media only screen and (max-width: 62.5em) {
			@content;
		}
	}
	@if $breakpoint == XL {
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}
