$c-primary: #2f9599;
$c-secondary: #e5a630;
$c-tertiary: #707070;

$main-gap: 2rem;
$bs-std: 0 .5rem 1rem rgba(#000000, .2); // Standard box-shadow
$bs-hover: 0 .75rem 1.5rem rgba(#000000, .3); // Box-shadow hover values
$br-std: .5rem; // Standard border radius for home page elements
