*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;

	@include responsive(large) {
		font-size: 50%;
	}
	@include responsive(small) {
		font-size: 40%;
	}
	@include responsive(xs) {
		font-size: 30%;
	}

	@include responsive(XL) {
		font-size: 75%;
	}
}
body {
	box-sizing: border-box;
	overflow: hidden;
}
