// GENERAL
.u-text-center {
	text-align: center !important;
}

// MARGIN BOTTOM
.u-mb-xl {
	margin-bottom: $m-xl !important;
}
.u-mb-l {
	margin-bottom: $m-l !important;
}
.u-mb-m {
	margin-bottom: $m-m !important;
}
.u-mb-s {
	margin-bottom: $m-s !important;
}

// MARGIN TOP
.u-mt-xl {
	margin-top: $m-xl !important;
}
.u-mt-l {
	margin-top: $m-l !important;
}
.u-mt-m {
	margin-top: $m-m !important;
}
.u-mt-s {
	margin-top: $m-s !important;
}
