.container {
	margin-top: 3rem;
	display: grid;
	grid-template-columns: 1fr repeat(12, minmax(2rem, 9rem)) 1fr;
	grid-template-rows: 8rem repeat(3, 16rem) 8rem;
	gap: $gap;
}
.header {
	grid-column: 2/ span 12;
	display: grid;
	grid-template-columns: repeat(12, minmax(2rem, 300rem));
	gap: $gap;

	&-logo {
		@include header-style;
		@include tile-link;
		box-shadow: $bs-std;
		grid-column: 1/ span 6;
	}
	&-clock {
		@include header-style;
		box-shadow: $bs-std;
		grid-column: 7/-1;
	}
}
.content {
	display: grid;
	grid-row: 2/ span 3;
	grid-column: 2 / span 12;
	grid-template-columns: repeat(12, minmax(2rem, 300rem));
	grid-template-rows: repeat(3, 16rem);
	gap: $gap;
}
.tile {
	font-family: $ff-head;
	font-size: $fs-1;
	color: #fff;
	text-transform: uppercase;
	box-shadow: $bs-std;
	grid-column: span 3;
	@include tile-flex;

	&--1 {
		background-color: $c-primary;
		border-radius: $br-std;
		@include tile-link;
	}
	&--2 {
		border-radius: $br-std;
		background-color: $c-secondary;
		font-size: $fs1;
		grid-column: span 6;
	}
	&--social {
		box-shadow: none;
		display: grid;
		grid-template-columns: repeat(8, minmax(.25rem, 30rem));
		gap: $gap;
	}
	&__icon {
		width: 6rem;
		height: 6rem;
		fill: #fff;
		margin-bottom: .7rem;
		&--social {
			width: 50%;
			height: 6rem;
		}
	}
}
.social {
	height: 100%;
	border-radius: $br-std;
	&--gh {
		grid-column: 1/ span 4;
		@include tile-flex;
		@include tile-link;
		box-shadow: $bs-std;
		background-color: #222222;
	}
	&--li {
		grid-column: 5/ span 4;
		@include tile-flex;
		@include tile-link;
		box-shadow: $bs-std;
		background-color: #107dac;
	}
}
.quote {
	font-weight: 300;
	font-style: italic;
	&::before {
		content: "\201D";
	}
	&::after {
		content: "\201E";
	}
}
.info {
	grid-row: 1 / span 3;
	grid-column: 7 / span 6;
	border-radius: $br-std;
	box-shadow: $bs-std;
	overflow: hidden;

	&-img {
		max-width: 100%;
	}

	&--about {
		text-align: justify;
	}
	&--skills {
		display: grid;
		grid-template-columns: 4rem 14rem 4rem 1fr 4rem;
		grid-template-rows: repeat(14, 2.6rem);
		gap: $gap;
		font-size: $fs0;
	}
	&--edu {
		padding: 4rem;
	}
	&__date {
		font-size: 1.2rem;
		font-weight: 700;
	}
	&__bullet-point {
		font-size: $fs-14;
		margin-left: 1rem;
		&::before {
			content: "- ";
		}
	}
}
.skill {
	display: grid;
	grid-template-columns: 4rem 14rem 4rem 1fr 4rem;
	gap: $gap;
	grid-column: 1 / -1;
	align-items: center;

	&__info {
		grid-column: 2 /3;
		display: flex;
		align-items: center;
	}
	&__rating {
		grid-column: 4/6;
		display: flex;
	}
	&__icon {
		fill: $c-primary;
		height: 2rem;
		width: 2rem;
		margin: 0 .5rem;
	}
	&__others {
		grid-row: 8 / -1;
		grid-column: 2/ span 5;
	}
}
.footer {
	grid-column: 2/ span 12;
	grid-row: 5 / 6;

	font-family: $ff-head;
	font-size: $fs-1;
	text-transform: uppercase;
	background-color: $c-tertiary;
	border-radius: $br-std;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: $bs-std;
	letter-spacing: .1rem;
}
.icon {
	width: 1.5rem;
	height: 1.5rem;
	fill: #fff;
	margin: 0 .3rem;
}
a {
	&:link,
	&:visited {
		color: inherit;
		text-decoration: none;
		padding: .5rem 1rem;
	}
}
.email {
	display: flex;
	align-items: center;
}
